{% extends "bootstrap/base.html" %}
{% block title %} IoT - CarShare Application{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarShare.co</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Show Car Location</title>
    {{ mymap.js }}
</head>

<body class="text-center">
{% block content %}
    <h2>Location of Car number {{ car_id }}</h2>
    {{ mymap.html }}
{% endblock %}
</body>




