{% extends "bootstrap/base.html" %} {% block title %}This is an example page{%
endblock %} {% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %} 

{% block content %}
  <h1>Home Page</h1>

  <h2>Show flashed messages:</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h3>{{ message }}</h3>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
{% endblock %}

{% block content %}
  <h2>Available Cars:</h1>

  <table>
    {%for car in cars%}
      <tr>
        <td>{{car.car_id}}</td>
        <!-- <td>{{car.Name}}</td> -->
      </tr>
    {%endfor%}
  </table>
  
{% endblock %}

