{% extends "bootstrap/base.html" %} {% block title %} IoT - CarShare Application{% endblock %} {% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarShare.co</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <h1>Index Page</h1>
{% endblock %}

